.dashboard-card{

    transition:.3s;

    border-radius:18px;

}

.dashboard-card:hover{

    transform:translateY(-5px);

}

.dashboard-card .icon{

    width:5cqmax;

    height:90px;

    border-radius:50%;

    color:#fff;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    margin-bottom:15px;

}

.dashboard-card h6{

    color:#555;

    font-weight:600;

}

.dashboard-card h2{

    color:#1c3d72;

    font-weight:bold;

}

